<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<style>

body{
	text-align: center;
	padding-top: 50px;
}

</style>


<h1>Examples of Lazy Loading with jQuery</h1>

<a href='/page_example'><h3>Page Example</h3></a>
<a href='/event_example'><h3>Event Example</h3></a>
<a href='/container_example'><h3>Container Example</h3></a>






